<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">>
    <title>navBOX</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/commonstyle_hu.css" rel="stylesheet">
</head>
<body>
<!--导航开始-->
<div id="navBox">
    <ul>
        <li><a href="#" class="active">首页</a></li>
        <li><a href="#">个人办公</a></li>
        <li><a href="#">流程</a></li>
        <li><a href="#">资源</a></li>
        <li><a href="#">任务</a></li>
        <li><a href="#">客户</a></li>
        <li><a href="#">人事考勤</a></li>
        <li><a href="#">行政</a></li>
        <li><a href="#">流程模块</a></li>
        <li><a href="#">系统</a></li>
    </ul>
</div>
<!--导航结束-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>