<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>按钮组件</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/commonstyle_hu.css" rel="stylesheet">

</head>
<body>
<!--导航开始-->
<div id="nav">
    <a href="#">
        <div class="logo"></div>
    </a>

    <div>
        <div class="Avatar"></div>
        <div class="name"></div>
        <div class="down"></div>
    </div>
</div>
<!--导航结束-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>